body{
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}
#rightdiv{
  background-color: #20222B;
  height:100vh;
}
#leftdiv{
  background-color: #ffee58;
  height:100vh;
  padding-left: 8vw;
}
#titletext{
  margin-top:20vh;
  font-family: 'Bungee';
  font-size: 4.7em;
}
#titletextr{
  margin-top:20vh;
  font-family: 'Bungee';
  font-size: 4.7em;
  color:white;
}
.email{
  border-radius: 35px;
  border: 2px solid #fff;
  height: 4.125em;
  width:50%;
  padding-left: 20px;
  font-size: 12px;
}
input:focus{
    outline: none;
}